<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TaskFlow</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app"></section>

  <div id="taskMessage" class="hidden">
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="taskIcon" src="assets/img/task.png" alt="task"/>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>