<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <title>TaskFlow</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body id="appBody">

  <div class="catspeak">
    <img id="cat" src="assets/img/cat.png" alt="cat" class="card-logo" />
    <div class="speech-wrapper">
      <img id="speech" src="/assets/img/speech.png" alt="speech box" />
      <div id="taskMessage" class="hidden">
        <span id="errorMessage"></span>
      </div>
    </div>

  </div>

  <section id="app"></section>


  <script src="/assets/appBundle.js"></script>

  <nav>
    <div class="navlink" id="logout"><a href="/logout">Log out</a></div>
    <div class="navlink">
      <a href="/changePassword">Change Password</a>
    </div>
  </nav>
</body>

</html>