<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>password changing</title>
    <link rel="shortcut icon" href="/assets/img/cat.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body id="loginbody">
    <div class="catspeak">
        <img id="cat" src="assets/img/cat.png" alt="cat" class="card-logo" />
        <div class="speech-wrapper">
            <img id="speech" src="/assets/img/speech.png" alt="speech box" />
            <div id="taskMessage" class="hidden">
                <span id="errorMessage"></span>
            </div>
        </div>
    </div>
    <div class="cpbar">
        <div><a id="changePassword">Change Password</a></div>
    </div>

    <section id="content"></section>
    <script src="/assets/changePasswordBundle.js"></script>

</body>

</html>